.chatBoxContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.chatBoxHeader {
    display: flex;
    background-color: #2a2f32;
    height: 3.5em;
    align-items: center;
    padding: 0 1em;
}

.chatBoxMessages {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em 0;
    background-image: url('../../public/img/pattern.svg');
}

.chatBoxInputMessage {
    display: flex;
    height: 4em;
    background-color: #1e2428;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: space-between;
}

.chatBoxHeaderRight {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.contactInf {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatBoxHeaderIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b1b3b5;
    flex: 0.1;
}

.chatName {
    color: #b1b3b5;
    font-weight: bold;
}

.lastSeen {
    color: #b1b3b5;
    font-weight: lighter;
}

.chatBoxInputMessageIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b1b3b5;
    flex: 0.1;
}

.chatBoxInputMessageInput {
    display: flex;
    flex: 0.9;
}

.chatBoxInputMessageInput > input {
    width: 95%;
    outline: none;
    background-color: #33383b;
    border: none;
    padding: 1em;
    display: flex;
    border-radius: 2em;
    color: #b1b3b5;
}

.messageBoxStart {
    display: flex;
    justify-content: flex-start;
    padding: 0 4em;
    margin-bottom: 1em;
}

.messageStart {
    display: flex;
    background-color: #262d31;
    max-width: 500px;
    padding: 0.8em;
    border-radius: 1em;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
}

.dateMessage {
    display: flex;
    justify-content: flex-end;
    font-size: small;
    margin-top: 0.5em;
}

.messageBoxEnd {
    display: flex;
    justify-content: flex-end;
    padding: 0 4em;
    margin-bottom: 1em;
}

.messageEnd {
    display: flex;
    background-color: #056162;
    max-width: 500px;
    padding: 0.8em;
    border-radius: 1em;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
}