.friendsContainer {
    display: flex;
    flex-direction: column;
}

.friendsConnected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friendsConnected > span {
    color: #b1b3b5;
    border-bottom: 1px solid #3c4247;
    padding: 1em 1em;
    width: 90%;
    display: flex;
    align-items: center;
}

.friendsDisconnected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friendsDisconnected > span {
    color: #b1b3b5;
    border-bottom: 1px solid #3c4247;
    padding: 1em 1em;
    width: 90%;
    display: flex;
    align-items: center;
}