.sideBarContainer {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-right: 1px solid #3c4247;
}

.headerSideBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2f32;
    height: 3.5em;
    padding: 0 1em;
}

.headerIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchBar {
    background-color: #131c21;
    display: flex;
    height: 3em;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #3c4247;
}

.backgroundSearchBar {
    background-color: #323739;
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.9;
    color: #b1b3b5;
    border-radius: 1em;
}

.inputSearch {
    outline: none;
    display: flex;
    width: 80%;
    background-color: transparent;
    border: none;
    color: #b1b3b5;
}

.dotBadge {
    background-color: #44b700;
}

.badgeNotifications {
    border: 1px solid #3c4247;
    background-color: #056162;
    color: #ffffff;
}