.welcomeContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #2a2f32;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #056162;
    padding: 9em 2em;
    border-radius: 30em;
    color: #ffffff;
}