.backgroundApp {
    background-color: #090e11;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.chatContainer {
    display: flex;
    max-width: 1400px;
    flex: 1;
    padding: 1em 0;
    box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb),.06),0 2px 5px 0 rgba(var(--shadow-rgb),.2);
}